* {
  padding-top: 0;
  box-sizing: border-box;
  margin: 0;
}

/* body  */

body {
  align-items: center;
  background-color: rgb(228, 217, 217);
}

/* nav */

.nav {
  padding: 24px;
  background-color: rgb(36, 7, 7);
  width: 23.4rem;
}

.name {
  display: flex;
  text-align: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  font-family: 'poppins', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.title {
  display: flex;
  text-align: center;
  justify-content: center;
  color: #fff;
  font-family: 'poppins', sans-serif;
  font-weight: 700;
  margin-top: 12px;
  font-size: 14px;
}

.li {
  margin-left: 24px;
}

.intro {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: 'lato', sans-serif;
  font-size: 18px;
  color: #2b2828;
  margin-bottom: 24px;
}

.prg {
  width: 302px;
  margin-left: 24px;
  margin-right: 24px;
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding-bottom: 24px;
}

.hr {
  width: 82%;
  margin-left: 24px;
  background-color: #252424;
  margin-bottom: 40px;
  margin-top: 16px;
}

.about {
    color: #ff6b00;
    padding-top: 120px;
    font-size: 56px;
    line-height: 64px;
    font-family: "Crete Round", sans-serif;
  }

  .skills {
    display: flex;
    gap: 20%;
    flex-direction: row;
  }

.me {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: 'lato', sans-serif;
  color: #7f8cff;
  margin-bottom: 24px;
}

.c-me {
  font-family: 'lato', sans-serif;
  width: 299px;
  margin-left: 24px;
  margin-right: 24px;
}

ol.c-list {
  margin-left: -20px;
  margin-bottom: 28px;
  margin-top: 19px;
}

ol.c-list a {
  color: rgb(85, 84, 84);
}

/* footer  */

.footer {
  background-color: rgb(22, 21, 21);
  height: 4rem;
  width: 23.4rem;
}

.h6 {
  text-align: center;
  color: rgb(221, 219, 219);
  padding-top: 12px;
  font-size: 15px;
  font-family: 'poppins', sans-serif;
}

/* media qerries */

@media screen and (min-width: 768px) {
  .nav {
    width: 100%;
  }

  /* body */
  body {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }

  /* image  */

  .img {
    width: 470px;
    text-align: center;
  }

  /* intro paragraph  */

  .prg {
    width: 492px;
    text-align: center;
  }

  /* About paragraph */


  .text-res {
    width: 457px;
    height: 148px;
    line-height: 25px;
    font-size: 17px;
  }
  /* contact-section  */

  .c-me {
    width: 492px;
    margin-bottom: 12px;
  }

  ol.li {
    gap: 8px;
    margin-bottom: 40px;
  }

  .c-list {
    text-align: left;
  }

  /* hr  */

  .hr {
    width: 30rem;
  }

  .btn {
    padding: 12px;
    color: #fff;
    background-color: #ff6b00;
    border: none;
    font-size: 17px;
    width: 124px;
    margin: 22px 0;
  }

  /* footer */

  .footer {
    width: 100%;
    margin-top: 40px;
  }

  /* link hover infects */

  .li a:link {
    color: red;
  }

  .li a:visited {
    color: green;
  }

  .li a:hover {
    color: hotpink;
  }

  .li a:active {
    color: blue;
  }
}
